.about {
    flex: 1 1 auto;
    width: 100%;
    justify-content: center;
}

.about__main {
    flex: 1 1 auto;
    width: 100%;
}

.about__credits {
    
}

.about__footer {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
}