.main-menu {
  flex: 1 1 auto;

  &__background {
    background-image: resource('Images/bg_space_02');
    transition-property: translate;
    transition-duration: 10s;
    transition-timing-function: ease-in-out;
  }

  &__section {
    flex: 1 1 auto;
    padding: 5px 15px;
    font-size: 24px;
    color: rgb(238, 238, 238);
    align-items: center;
    align-content: center;
    -unity-text-align: middle-center;
    white-space: normal;
  }

  &__footer {
    padding: 5px;
    flex-direction: row;
    font-size: 24px;
    flex: 0 0 auto;
    color: rgb(162, 162, 162);
    -unity-text-align: lower-center;
    align-content: center;
    align-items: center;
    justify-content: center;
  }
  
  &__content {
    flex: 1 1 auto;
  }

  &__header {
    flex: 0 0 auto;
    padding: 60px 15px 45px;
  }

  &__logo {
    -unity-font-definition: var(--font-heading);
    font-size: 150px;
    color: rgb(255, 255, 255);
    -unity-text-align: middle-center;
  }
}