//Common

//Backgrounds
$bg-safe: #000;
$bg-primary: #122128;
$bg-primary-hover: #0d191e;
$bg-secondary: #33aa99;
$bg-secondary-hover: #258072;

// Text
$text-primary: #e4eff0;
$text-primary-hover: #fff;