//Common

//Backgrounds
$bg-safe: #000;
$bg-primary: #122128;
$bg-primary-hover: #0d191e;
$bg-secondary: #33aa99;
$bg-secondary-hover: #258072;
$bg-success: #3faa33;
$bg-success-hover: #308127;
$bg-danger: #aa3333;
$bg-danger-hover: #621e1e;

// Text
$text-primary: #e4eff0;
$text-primary-hover: #fff;